/* Overall blog section */
.blog-section {
    text-align: center;
    padding: 12vh 0;
    background-color: #121212;
    color: #ffffff;
}

.blog-section .head-h1 {
    font: normal normal bold 65px/89px Open Sans;
}

.blog-section .para_main {
    padding: 0 20vh;
}

.blog-subheading {
    font-size: 1.1em;
    margin-bottom: 40px;
    color: #b0b0b0;
}

/* Blog List */
.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 5vh 0;
}

.blog-item {
    display: flex;
    background-color: #1f1f1f;
    border-radius: 15px;
    overflow: hidden;
    width: 48%;
    padding: 28px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-item:hover {
    transform: scale(1.05);
}

.blog-image {
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.blog-content {
    padding: 20px 35px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.blog-date {
    font-size: 0.9em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2;
    line-height: 1.5;
    opacity: 1;
}

/* Media Queries */

/* For tablets and below (up to 768px) */
@media (max-width: 768px) {
    .blog-section {
        padding: 28px 10px;
    }

    .blog-item {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        /* Adjust padding as needed */
    }

    .blog-image {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .blog-content {
        width: 100%;
        text-align: center;
    }

    .blog-section .para_main {
        padding: 0px;
    }

    .blog-section .blog-title {
        text-align: center;
    }
}

/* For small laptops and larger tablets (769px to 1023px) */
@media (min-width: 769px) and (max-width: 1023px) {
    .blog-item {
        width: 48%;
        flex-direction: row;
        padding: 20px;
        /* Adjust padding as needed */
    }

    .blog-image {
        width: 40%;
    }

    .blog-content {
        width: 60%;
        text-align: left;
    }
}

/* For large screens (1024px and above) */
@media (min-width: 1024px) {
    .blog-item {
        width: 48%;
    }
}