.case-studies {
    padding: 250px 40px;
}

.case-study {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.case-studies .head-h1 {
    font: normal normal bold 25px/38px Open Sans;
    letter-spacing: -1.3px;
    color: #131313;
    padding: 30px 0px 0px 0px;
}

.case-study img {
    width: 100%;
    border-radius: 10px;
}

.case-studies .translate-y-top {
    transform: translateY(-180px);
    /* Moves the box up on hover */
}

.case-studies .translate-y-top-second {
    transform: translateY(-120px);
}

.stay-static {
    /* No transform applied here to keep it static */
}

.view-project {
    display: inline-block;
    margin-top: 10px;
    color: #000;
    text-decoration: underline;
}

.case-studies .tags {
    padding: 2vh 0vh;
}

.tags .badge {
    background-color: #EAEBEB;
    color: #000000;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 30px;
    padding: 18px 40px 18px 40px;
}

.case-studies .card-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.case-studies .project-icon {
    width: 20px;
    height: 20px;
    align-items: center;
    margin-top: 10px;
}

.case-studies .card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}