/* Background and alignment */
.semi-contact-form {
  padding: 6vh 0vh;
  background-color: #131313;
}

.semi-contact-form .contact-form {
  padding: 40px;
  background-color: #131313;
  border-radius: 10px;
  padding: 6vh 0vh;
}

.semi-contact-form .head-h1 {
  font: normal normal bold 80px/89px Open Sans;
  letter-spacing: -4.16px;
}

.semi-contact-form .semi-contact-section {
  padding: 4vh 0vh;
  /* Adjusted padding */
}

.semi-contact-form .text-white {
  color: white;
}

.semi-contact-form .form-control {
  background: none;
  color: #fff;
  border: none;
  /* Removed border to keep only border-bottom */
  border-bottom: 1px solid gray;
  /* Border bottom only */
  padding: 10px;
  border-radius: 0px;
}

.semi-contact-form .form-control::placeholder {
  color: transparent;
}

.semi-contact-form .connect-button {
  background-color: #ACF96D;
  color: #000000;
}

.semi-contact-form .submit-btn:hover {
  background-color: #00cc00;
}